@import "@undp/design-system-react/style.css";
@import "@undp/design-system-react/theme.css";
@import "@undp/data-viz/style.css";
@import "tailwindcss";

@theme {
  --color-education: var(--education);
  --color-education-hover: var(--education-hover);
  --color-education-light: var(--education-light);
  --color-employment: var(--employment);
  --color-employment-hover: var(--employment-hover);
  --color-employment-light: var(--employment-light);
  --color-housing: var(--housing);
  --color-housing-hover: var(--housing-hover);
  --color-housing-light: var(--housing-light);
  --color-health: var(--health);
  --color-health-hover: var(--health-hover);
  --color-health-light: var(--health-light);
  --color-discrimination: var(--discrimination);
  --color-discrimination-hover: var(--discrimination-hover);
  --color-discrimination-light: var(--discrimination-light);
  --color-roma: var(--roma);
  --color-non-roma: var(--non-roma);
}
