@import "@undp/design-system-react/style.css";
@import "@undp/design-system-react/theme.css";
@import "@undp/data-viz/style.css";
@import "tailwindcss";

:root {
  --education: #10917d;
  --education-hover: #14ae99;
  --education-light: #e8f5f3;

  --employment: #c98b32;
  --employment-hover: #d89b3a;
  --employment-light: #f7ecdd;

  --housing: #8a6647;
  --housing-hover: #af8c5a;
  --housing-light: #f3ece6;

  --health: #7a3fe0;
  --health-hover: #9854e9;
  --health-light: #efe9fa;

  --discrimination: #c45f1a;
  --discrimination-hover: #eb7325;
  --discrimination-light: #f7ebe3;
}

@theme {
  --color-education: var(--education);
  --color-education-hover: var(--education-hover);
  --color-education-light: var(--education-light);
  --color-employment: var(--employment);
  --color-employment-hover: var(--employment-hover);
  --color-employment-light: var(--employment-light);
  --color-housing: var(--housing);
  --color-housing-hover: var(--housing-hover);
  --color-housing-light: var(--housing-light);
  --color-health: var(--health);
  --color-health-hover: var(--health-hover);
  --color-health-light: var(--health-light);
  --color-discrimination: var(--discrimination);
  --color-discrimination-hover: var(--discrimination-hover);
  --color-discrimination-light: var(--discrimination-light);
}